### Домашнее задание к лекции "Базовые понятия статистики"
### Обязательная часть

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.
https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.
https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('horse_data.csv')
df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2

In [4]:
columns = (['Surgery','Age','HospitalNumber','RectalTemperature','Pulse','RespiratoryRate',
           'TemperatureOfExtremities','PeripheralPulse','MucousMembranes','CapillaryRefillTime','Pain',
            'Peristalsis','AbdominalDistension','NasogastricTube','NasogastricReflux','NasogastricRefluxPH',
            'RectalExamination','Abdomen','PackedCellVolume','TotalProtein','AbdominocentesisAppearance',
            'AbdomcentesisTotalProtein','Outcome','SurgicalLesion','TypeOfLesion1','TypeOfLesion2','TypeOfLesion3',
            'CPdata'])

выберем необходимые данные для анализа

In [5]:
df = pd.read_csv('horse_data.csv', header=None, na_values='?', names=columns, usecols=['Surgery','Age',
            'RectalTemperature','Pulse','RespiratoryRate','MucousMembranes', 'AbdominalDistension','Outcome'])
df.head()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
0,2.0,1,38.5,66.0,28.0,NaN,4.0,2.0
1,1.0,1,39.2,88.0,20.0,4.0,2.0,3.0
2,2.0,1,38.3,40.0,24.0,3.0,1.0,1.0
3,1.0,9,39.1,164.0,84.0,6.0,4.0,2.0
4,2.0,1,37.3,104.0,35.0,6.0,NaN,2.0

In [6]:
df.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,253.000000,244.000000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.853755,2.266393,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.620294,1.065131,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,2.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,4.000000,3.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,6.000000,4.000000,3.000000

In [7]:
for column in df.columns:
    print(f'мода {column} - {df[column].mode()[0]}')

мода Surgery - 1.0
мода Age - 1
мода RectalTemperature - 38.0
мода Pulse - 48.0
мода RespiratoryRate - 20.0
мода MucousMembranes - 1.0
мода AbdominalDistension - 1.0
мода Outcome - 1.0

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [8]:
q1 = df['Pulse'].quantile(0.25)
q3 = df['Pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Pulse')
remove_outliers.head()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1,37.2,36.0,9.0,1.0,1.0,1.0
276,1.0,1,38.0,36.0,16.0,1.0,2.0,3.0
242,1.0,1,NaN,36.0,32.0,4.0,3.0,2.0

In [9]:
q1 = df['Pulse'].quantile(0.25)
q3 = df['Pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
outliers = df[(df['Pulse'] >= upper_bound) | (df['Pulse'] <= lower_bound)].sort_values('Pulse')
outliers

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,6.0,2.0,2.0
55,1.0,9,38.6,160.0,20.0,5.0,4.0,2.0
3,1.0,9,39.1,164.0,84.0,6.0,4.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,3.0,2.0

In [10]:
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-12.0 148.0

оценка совокупности исключая случая выбросов

In [11]:
remove_outliers.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,270.000000,271.000000,229.000000,271.000000,231.000000,234.000000,225.000000,270.000000
mean,1.407407,1.501845,38.136681,70.258303,29.904762,2.782051,2.222222,1.548148
std,0.492264,1.943412,0.728288,26.082484,16.979515,1.583017,1.066722,0.753860
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,25.000000,3.000000,2.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,4.000000,3.000000,2.000000
max,2.000000,9.000000,40.800000,146.000000,96.000000,6.000000,4.000000,3.000000

оценка выборосов

In [12]:
outliers.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,5.000000,5.0,5.000000,5.000000,5.000000,4.000000,4.000000,5.000000
mean,1.200000,9.0,38.860000,161.600000,62.000000,4.500000,3.250000,1.800000
std,0.447214,0.0,0.194936,13.957077,27.276363,2.380476,0.957427,0.447214
min,1.000000,9.0,38.600000,150.000000,20.000000,1.000000,2.000000,1.000000
25%,1.000000,9.0,38.800000,150.000000,50.000000,4.000000,2.750000,2.000000
50%,1.000000,9.0,38.800000,160.000000,72.000000,5.500000,3.500000,2.000000
75%,1.000000,9.0,39.000000,164.000000,84.000000,6.000000,4.000000,2.000000
max,2.000000,9.0,39.100000,184.000000,84.000000,6.000000,4.000000,2.000000

оценка случаев, при которых лошади умирали

In [13]:
not_live = df.loc[(df['Outcome'] != 1)]
not_live.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,121.000000,122.000000,88.000000,110.000000,95.000000,103.000000,97.000000,121.000000
mean,1.297521,1.786885,38.128409,84.727273,32.178947,3.718447,2.762887,2.363636
std,0.459068,2.392238,0.952908,29.674661,16.528492,1.497825,1.008022,0.483046
min,1.000000,1.000000,35.400000,30.000000,12.000000,1.000000,1.000000,2.000000
25%,1.000000,1.000000,37.575000,64.000000,20.000000,3.000000,2.000000,2.000000
50%,1.000000,1.000000,38.050000,84.000000,28.000000,4.000000,3.000000,2.000000
75%,2.000000,1.000000,38.700000,100.000000,38.000000,5.000000,4.000000,3.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,6.000000,4.000000,3.000000

Так как нормальное значение пульса 30-40 уд/мин, очевидно, что рассматриваемые выбросы показателей являются естественными, и подтверждаются наличиями признаков болезни - повышенной температуры, учащенном дыхании, а слизистая оболочка указывает на серьезные нарушения / сепсис. Исключать из общей совокупности выбросы нет необходимости.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Surgery              299 non-null    float64
 1   Age                  300 non-null    int64
 2   RectalTemperature    240 non-null    float64
 3   Pulse                276 non-null    float64
 4   RespiratoryRate      242 non-null    float64
 5   MucousMembranes      253 non-null    float64
 6   AbdominalDistension  244 non-null    float64
 7   Outcome              299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [19]:
for col in df:
    missing = df[col].isnull().mean()
    print(f'{col} - {missing :.0%}')

Surgery - 0%
Age - 0%
RectalTemperature - 20%
Pulse - 8%
RespiratoryRate - 19%
MucousMembranes - 16%
AbdominalDistension - 19%
Outcome - 0%

результаты, если проигнорировать пропуски данных

In [21]:
print(df.Pulse.mean())
print(df.Pulse.median())
print(df.Pulse.mode()[0])
print(df.Pulse.std())
print(df.Pulse.var())

71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575

оценим случаи, где пропущена температура

In [53]:
no_rect = df.loc[(df['RectalTemperature'].isnull())]
no_rect.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
for i in no_rect.columns:
    print(f'мода {i} - {df[i].mode()[0]}')

мода Surgery - 1.0
мода Age - 1
мода RectalTemperature - 38.0
мода Pulse - 48.0
мода RespiratoryRate - 20.0
мода MucousMembranes - 1.0
мода AbdominalDistension - 1.0
мода Outcome - 1.0

Как можно видеть показатели здоровья наиболее оптимальны, если рассчитаны по моде.

Дополним пропущенные значения температуры модой

In [49]:
df['RectalTemperature'].fillna(df['RectalTemperature'].mode()[0], inplace=True)
df['RectalTemperature'].fillna(df['RectalTemperature'].mode()[0]).isna().sum()

0

так как количество пропущенных значений пульса незначительно, а полезность частоты дыхания малозначительна из за больших колебаний, целесооборазно заполнить недостающие значения медианой

In [50]:
df['Pulse'].fillna(df['Pulse'].median(), inplace=True)
df['Pulse'].fillna(df['Pulse'].median()).isna().sum()

0

In [51]:
df['RespiratoryRate'].fillna(df['RespiratoryRate'].median(), inplace=True)
df['RespiratoryRate'].fillna(df['RespiratoryRate'].median()).isna().sum()

0

In [ ]:
оценим случаи в которых пропущены значения состояния слизистой

In [60]:
df_membr = df.loc[(df['MucousMembranes'].isnull())]
df_membr.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
for i in df_membr.columns:
    print(f'мода {i} - {df[i].mode()[0]}')

мода Surgery - 1.0
мода Age - 1
мода RectalTemperature - 38.0
мода Pulse - 64.0
мода RespiratoryRate - 24.5
мода MucousMembranes - 1.0
мода AbdominalDistension - 1.0
мода Outcome - 1.0

учитывая, что показатели здоровья по медиане и моде совпадают, более корректным будет заполнить пропущенные показатели наиболее частыми значениями

дополним пропущенные значения вздутий живота и слизистой медианными значениями

In [58]:
df['MucousMembranes'].fillna(df['MucousMembranes'].mode()[0], inplace=True)
df['MucousMembranes'].fillna(df['MucousMembranes'].mode()[0]).isna().sum()

0

In [ ]:
оценим случаи, в которых пропущены значения состояний вздутий живота

In [63]:
no_abdom = df.loc[(df['AbdominalDistension'].isnull())]
no_abdom.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,0.0,56.000000
mean,1.321429,2.285714,38.083929,69.446429,30.517857,1.839286,NaN,1.642857
std,0.471251,2.964728,0.693024,29.992678,19.297189,1.449474,NaN,0.796094
min,1.000000,1.000000,35.400000,30.000000,12.000000,1.000000,NaN,1.000000
25%,1.000000,1.000000,38.000000,48.000000,20.000000,1.000000,NaN,1.000000
50%,1.000000,1.000000,38.000000,64.000000,24.500000,1.000000,NaN,1.000000
75%,2.000000,1.000000,38.350000,85.000000,30.500000,2.250000,NaN,2.000000
max,2.000000,9.000000,39.700000,150.000000,96.000000,6.000000,NaN,3.000000

In [66]:
for i in no_abdom.columns:
    print(f'мода {i} - {df[i].mode()[0]}')

мода Surgery - 1.0
мода Age - 1
мода RectalTemperature - 38.0
мода Pulse - 64.0
мода RespiratoryRate - 24.5
мода MucousMembranes - 1.0
мода AbdominalDistension - 1.0
мода Outcome - 1.0

аналогично, более корректным будет заполнить пропущенные значения наиболее частыми значениями

In [70]:
df['AbdominalDistension'].fillna(df['AbdominalDistension'].mode()[0], inplace=True)
df['AbdominalDistension'].fillna(df['AbdominalDistension'].mode()[0]).isna().sum()

0

In [73]:
df.describe()

,Surgery,Age,RectalTemperature,Pulse,RespiratoryRate,MucousMembranes,AbdominalDistension,Outcome
count,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,299.000000
mean,1.397993,1.640000,38.134333,71.280000,29.273333,2.563333,2.030000,1.551839
std,0.490305,2.173972,0.658153,27.541545,16.010979,1.633468,1.079963,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.000000,64.000000,24.500000,2.000000,2.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.250000,4.000000,3.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,6.000000,4.000000,3.000000

In [74]:
for c in df:
    print(f'мода {c} - {df[c].mode()[0]}')

мода Surgery - 1.0
мода Age - 1
мода RectalTemperature - 38.0
мода Pulse - 64.0
мода RespiratoryRate - 24.5
мода MucousMembranes - 1.0
мода AbdominalDistension - 1.0
мода Outcome - 1.0